<?xml version="1.0"?>
<model>
  <name>amr_inspection_facility</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>Mechatronics Engineer</name>
    <email>engineer@university.edu</email>
  </author>
  <description>Optimized open-roof industrial facility for AMR inspection robot testing.</description>
</model>
